
<!--   Core JS Files   -->
<script src="{{ site.baseurl }}/assets/lib/js/core/jquery.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/core/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/bootstrap-material-design.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/jquery.validate.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/moment.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/bootstrap-datetimepicker.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/nouislider.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/bootstrap-selectpicker.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/bootstrap-tagsinput.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/jasny-bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/material-dashboard.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/arrive.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/chartist.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/jquery.bootstrap-wizard.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/bootstrap-notify.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/jquery-jvectormap.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/fullcalendar.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/jquery.select-bootstrap.js"></script>
<!--<script src="{{ site.baseurl }}/assets/lib/js/plugins/jquery.datatables.js"></script>-->
<script src="{{ site.baseurl }}/assets/lib/js/plugins/jquery.md5.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/moment.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/plugins/sweetalert2.js"></script>
<script src="{{ site.baseurl }}/assets/lib/js/demo.js"></script>
<script src="{{ site.baseurl }}/assets/js/docs.min.js"></script>
